<div class="text-center">
    <br>
    <h1><strong>Tus libros</strong></h1>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 mb-5 " *ngFor="let libro of userBooks; let i=index">
            <div class="row">
                <img class="bookImg libros-poster-image" [src]="libro.volumeInfo.imageLinks.smallThumbnail">
                <h3>{{libro.volumeInfo.title}}</h3>
                <p>{{libro.volumeInfo.description | slice:0:100}}...</p>
            </div>
            <input (click)="clickEnLibro(libro)" class="btn btn-primary" type="submit" value="Mas info" />
        </div>
    </div>
</div>