.navbar-expand {
    /* background: rgba(137, 207, 240, 1) !important; */
    background-color: black !important;
    width: 100% !important;
}

.navbar {
    /* background: rgba(137, 207, 240, 1) !important; */
    background-color: black !important;
}

.nav-link {
    color: white;
}

.form-control {
    background-color: white;
}

.logOut {
    margin-right: 50px !important;
}