.slider {
    color: black;
    background: rgba(137, 207, 240, .5);
}

.bg {
    /* background: rgba(137, 207, 240, .6); */
    background-color: white;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}