<!-- Slider main container -->
<div>
    <div class="swiper-container  ">
        <!-- Additional required wrapper -->
        <div class=" swiper-wrapper ">
            <!-- Slides  volumeInfo.imageLinks.smallThumbnail-->
            <div *ngFor="let libro of libros" class="swiper-slide " [ngStyle]="{'background-size': 'cover',
            'background-image':'url(http://books.google.com/books/content?id=' + libro.id + '&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api)'}">
                <div class="libro-descripcion">
                    <h3>{{libro.volumeInfo.title}}</h3>
                    <p *ngIf="libro.volumeInfo.description; else noDescp">{{libro.volumeInfo.description | slice:0:100}}...</p>
                    <ng-template #noDescp> Sin descripcion
                    </ng-template>
                    <div>
                        <button (click)="clickEnLibro(libro)" class="button btn-primary mb-3 mt-3" routerLinkActive="active"><small>  
                            Leer más
                            </small></button>

                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
        <div (click)="onSlideNext()" class="swiper-button-next"></div>
        <!-- If we need scrollbar -->

    </div>